<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHdZVb79Vg_R0YbeOqHAu0nLzo0xWfXiH6tw&usqp=CAU" alt="Burna Boy" width="700" height="700">
 </div> 
  
<%- include('../partials/footer') %>