<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://media.pitchfork.com/photos/62c5e6964807e30a5dfd2fdb/3:2/w_1425,h_950,c_limit/Burna-Boy-Love-Damini.jpg" alt="music" width="700" height="700">
 </div> 
  
<%- include('../partials/footer') %>