<%- include('../partials/header') %>

<h2><%=title%></h2>

<div>
  <img src="https://i.etsystatic.com/21984359/r/il/6f6153/3308059022/il_fullxfull.3308059022_by5f.jpg" width="700" height="700" alt="Warriors">
 </div> 
  
<%- include('../partials/footer') %>